//Conatiner for CONTACT US h1//
.ContactText{
  display: flex;
 justify-content: center;
 text-align:center;
 margin-top: 4%;
}

.text{
  font-size: var(--SecondaryHeaders);
  color: var(--textSecondarycolor)
}
//we dont display the icon on Mobile//
.imageContact{
  display: none;
}
//main container for Image And Form COLOUM for mobile//
.ContactImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  border: none;
  box-shadow: rgba(34, 34, 34, 0.151) 0px 3px 3px 0px;
}

input[type=submit] {
  background-color: var(--main);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--textSecondarycolor);
  color: var(--secondaryMain);
}
//Form Container(Inputs)
.containerI{
display: flex;
flex-direction: column;
border-radius: 5px;
padding-top: 7%;
}
//desktop
@media screen and (min-width: 1024px){
//main container for Image And Form ROW for desktop//
  .ContactImg{
    border-radius: 9px;
    margin-top: 0%;
    display: flex;
    flex-direction:row;
    margin-left: 10%;
    width: 80%;


    height: 80vh;
  }
  .containerI{
    padding-top: 4%;
    }
//we display the image on desktop
.imageContact{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 40%;
}
//image class//
.img{
  width: 100%;
  display: flex;
  flex-direction: row;

}
//container for inputs
.containerI{
  width: 50%; 
  
}
}