<div class="ContactText">
  <div class="text">
    <h1>Contact us</h1>
  </div>
</div>
<div class="ContactImg">
  <div class="img">
    <img src='/assets/contact-form-icons/contact-icon.png' alt="" class="imageContact">
  </div>
<div class="containerI">
  <div class="Inputs">
    <form action="" method="post">
      <input type="text" id="fname" name="firstname" placeholder="Your Name..">
  

      <input type="text" id="lname" name="lastname" placeholder="Your Email..">
  
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>
  </div>
  