
.ContactText{
 justify-content: center;
 text-align:center;
}

.text{
  font-size: var(--SecondaryHeaders);
  color: var(--textSecondarycolor)
}

.imageContact{
  display: none;
}

.ContactImg{
  display: flex;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--main);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containerI{
  border-radius: 5px;
padding-top: 7%;
padding-left: 15%;

}
@media screen and (min-width: 1024px){

  .ContactImg{
    display: flex;
    flex-direction:row;
  }
  
.ContactImg{
  display: flex;
  width: 100%;
}
.imageContact{
  display: flex;
  width: 90%;
}
.containerI{
  width: 50%; 
}
}