.Sponsorstext{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text{
    text-align: center;
    padding-top: 6%;
}
.text h1{
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
  }
 
.SponsorsImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.img{
justify-content: center;
display: flex;
}
#logo{
    width: 50%;
}
@media screen and (min-width: 1024px){
  #logo{
    width: 30%;
}
}