<div class="ContainerHeader">
    <div class="Header">
        <h1>Projects</h1>
        <p>Our latest work</p>
    </div>
</div>
<div class="ContainerPhotos">
<div class="image1">
    <img src='./assets/carpentryimages/roofing.jpg' alt="" class="Img1">
</div>

    <div class="image2">
        <img src='./assets/carpentryimages/landscaping.jpg' alt=""  class="Img2">
        <img src='./assets/carpentryimages/roofing2.jpg' alt=""  class="Img3">
    </div>
</div>
<div class="Containerwords">
    <div class="words">
       <p><i class='fas fa-images'></i></p>
       <h1>Images</h1> 

    </div>
</div>
