.container3{
  width: 100%;
  background-image:url('/assets/couresal-images/couresal-img-Mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:40vh;
}
.couresal{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.couresal h1{
  color: var(--textPrimarycolor );
  padding-top: 20%;
  font-size: 20px;
  font-weight: 900;
}
span{
 color:var( --main);
 font-style: italic;
}
.button {
  background-color: var(--main);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 9px;
}


@media screen and (min-width: 1024px){
  .container3{
    width: 100%;
    background-image:url('/assets/couresal-images/couresal-img-Desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
  }
  .couresal h1{
   font-size: var(--DesktopPrimaryHeader);
   padding-top: 10%;
  }
  

}