.container{
display: flex;
flex-direction: row;
text-align: center;
}
.couresal{
 background-image: url('/assets/couresal-images/couresal-img-Mobile.png'); /// make sure that you arrange pictires with folders as they are untidy in the assest folder if you are createing pictures for courasal put them in courasal folder under assests
 background-size:cover;
 background-repeat:no-repeat;
 width: 100%;
 height: 40vh;
}
.couresal h1{
    color: var(--textPrimarycolor) ;
    padding-top: 5%;
    font-size: var(--PrimaryHeaders);
} 
.button {
  background-color:var(--main); /// not supposed to be here this color is supposed to be in styles.scss under root cause it's the main color we don't code color in a component 
  border-radius:7px;
  border: none;
  color: var(--textPrimarycolor);
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

