<div class="SearchBarContainer">
  <div class ="MainText">
    <h1>Find Your <span>Perfect</span> Contractor</h1>
  </div>
    <div class ="Text">
    <select name="places" id="places">
      <option value="Gauteng">Gauteng</option>
      <option value="Gauteng">Western Cape</option>
      <option value="Gauteng">Eastern Cape</option>
      <option value="Gauteng">Mpumalanga</option>
      <option value="Gauteng">North West</option>
      <option value="Gauteng">Free State</option>
      <option value="Gauteng">Nothern Cape</option>
      <option value="Gauteng">Limpopo</option>
      </select>
            <input type="search" alt="" placeholder="Search" class="search">
            <input type="button" alt="" class="SearchBTN" value="Search"> 
  
  </div>
  </div>
