<app-nav></app-nav>
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <div class="flex justify-center">
            <img src="../../../assets/not found/notfound-1.png" alt="">
        </div>
    
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-textColorNF sm:text-5xl">Congratulations</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">You managed to break our websites, but since we specialize in helping you find the perfect <>, we also happen to have the easiest way to fix this. </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a (click)="home()" class="rounded-md bg-mainColor px-3.5 py-2.5 text-sm font-semibold hover:text-textButtonHV text-textButton shadow-sm hover:bg-secondaryColor ">Quick Fix</a>
        
      </div>
    </div>
 </main>

 <app-footer></app-footer>
  <!-- Congratulations. You managed to break our websites, but since we specialize in helping you find the perfect Assistor, we also happen to have the easiest way to fix this.  -->


  <!--OOPS! You Don't Want To Be Here But sine you are here you might as well give the officer -->