.container1{
    background-color:green;
    display: flex;
    flex-direction: row;
}
.container2{
    background-color:rgb(128, 0, 64);
    display: flex;
    flex-direction: row;
}
#icon1{
    width:30%
}
.servicebox1{
    width: 60%;
}