.Container3{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ServicesHandP{
    text-align: center;
    padding-top: 6%;
}
.ServicesHandP h1{
  font-family: var();
  font-weight: 500;
  font-style: normal;
  font-size: var(--SecondaryHeaders);
}

.ContainerServicesImagesFirstrow{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Containerservices1{
  width:80%;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  align-content: center;
  justify-content: center;
  flex-direction:row;
  display: flex;
  margin: 2%;
}
.images{
  width:50%;
   
}
.IconsText{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}
.icons{
 width: 30%;
 padding-top: 3%;
 border-radius:50%;
}
.IconsText h1{
    font-size:20px;
    color: var(--textSecondarycolor );
    font-weight: 500;
}
.IconsText p{
    font-size: 14px;
    color: rgb(160, 160, 160);
    padding-top: 2%;
}
