<div class="Container3">
  <div class="ServicesHandP">
    <h1>Services</h1>
  </div>
</div>
<div class="ContainerServicesImagesFirstrow">
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/1.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/1.png" alt="Advisory" class="icons" />
      <h1>Construction</h1>
  
    </div>
  </div>

  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/2.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/2.png" alt="Advisory" class="icons" />
      <h1>Carpentry</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/3.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/3.png" alt="Advisory" class="icons" />
      <h1>Plumbing</h1>
  
    </div>
  </div>
</div>
<div class="ContainerServicesImagesFirstrow">
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/4.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/4.png" alt="Advisory" class="icons" />
      <h1>Electricity</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/5.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/5.png" alt="Advisory" class="icons" />
      <h1>Welding</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/6.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/6.png" alt="Advisory" class="icons" />
      <h1>Plastering</h1>
  
    </div>
  </div>
</div>
<div class="ContainerServicesImagesFirstrow">
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/7.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/7.png" alt="Advisory" class="icons" />
      <h1>Landscaping</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/8.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/8.png" alt="Advisory" class="icons" />
      <h1>House plans</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/9.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/9.png" alt="Advisory" class="icons" />
      <h1>Paving</h1>
  
    </div>
  </div>
</div>
<div class="ContainerServicesImagesFirstrow">
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/10.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/10.png" alt="Advisory" class="icons" />
      <h1>Painting</h1>
  
    </div>
  </div>
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/11.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/11.png" alt="Advisory" class="icons" />
      <h1>Tiling</h1>
  
    </div>
  </div>

  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/12.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/12.png" alt="Advisory" class="icons" />
      <h1>Roofing</h1>
  
    </div>
  </div>
</div>
