<div class="Container3">
  <div class="ServicesHandP">
    <h1>Services</h1>
  </div>
</div>
<div class="ContainerServicesImagesFirstrow ">
  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/1.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/1.png" alt="Advisory" class="icons" />
      <h1>Construction</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
    </div>
  </div>

  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/2.png" alt="innovation" class="images" />
    <div class="IconsText">
      <img src="./assets/services-icons/2.png" alt="Advisory" class="icons" />
      <h1>Carpentry</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
    </div>
  </div>

  <div class="Containerservices1" id="mar">
    <img src="/assets/services-img/3.png" alt="innovation" class="images mob " />
    <div class="IconsText">
      <img src="./assets/services-icons/3.png" alt="Advisory" class="icons " />
      <h1>Plumbing</h1>
    </div>
  </div>
</div>



