.ContainerHEad{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:10%;
}

.head h1{
    font-size: 25px;
    font-weight: 900;
    color: var(--main);
    text-transform: uppercase;
}

.ContainerMain{
    background-color: white;
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    justify-self: left;
    width: 90%;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.CustomersIconName{
    padding-top: 4%;
}
.CustomersIconName h1{
    font-size: 12px;
    padding-left: 1%;
}
.CustomersIconName h1 span{
    font-weight: 600;
    color: var(--textParagraphcolor);
}
#user{
    padding-left: 2%;
}
.CustomersIconName{
    display:flex;
    flex-direction: row;
}
.Thereview{
    padding-top: 3%;

}
.Thereview p{
    padding-left: 1%;
    font-size: 12px;
} 
.checked {
    color: orange;
    padding-left: 1%;
  }
  @media screen and (min-width: 1024px){
    .ContainerHEad{
        justify-content: left;
        padding-left:5%;
        padding-top: 4%;
    }
    .head h1{
        font-size: 35px;
        font-weight: 900;
        padding-top: 3%;
        color: var(--main);
    }
    .ContainerMain{
        margin-top: 3%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        width: 90%;
    }
    .CustomersIconName{
        padding-top: 1%;
    }

    .Thereview{
        padding-top: 1%;
        height: 20vh;
    }
  
  }