<div class="ContainerHEad">
    <div class="head">
        <h1>What our customers say</h1>
    </div>
</div>
<div class="ContainerMain">
    <div class="CustomersIconName">
        <i class='fas fa-user-circle' id="user"></i>
        <h1><span>Nhlanhla Mdawe</span></h1>
    </div>
        <div class="Thereview">
            <span class="fa fa-star checked" ></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
</div>
<div class="ContainerMain">
    <div class="CustomersIconName">
        <i class='fas fa-user-circle' id="user"></i>
        <h1><span>Sithembiso Mdawe</span></h1>
    </div>
        <div class="Thereview">
            <span class="fa fa-star checked" ></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
</div>
<div class="ContainerMain">
    <div class="CustomersIconName">
        <i class='fas fa-user-circle' id="user"></i>
        <h1><span>Sfiso Mnisi</span></h1>
    </div>
        <div class="Thereview">
            <span class="fa fa-star checked" ></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
</div>