.StickyFooterContainer{
    width: 100%;
    display: flex;
    flex-direction:row;
    margin-top: 5%;
}
.StickyFooter{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 15%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:white;
    width: 100%;

}

.btn{
    background-color: var(--main); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2%;

}

@media screen and (min-width: 1024px){
    .StickyFooterContainer{
    display: none;
    }
}