//MAin Container for TEXT
.containertext{
    display: flex;
    flex-direction: column;
    width: 100%;
}
//secondary Container for REVIEWS and TESTIMONIAL text 
.text{
    text-align: center;
    padding-top: 6%;
}
.text h1{
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}
#REVIEW3,
#REVIEW2{
    display: none;
}
.text p{
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: grey;
    padding-top: 1%;
}
//MAin COntainer for containerreview is COLOUMN on mobile
.containerR{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
//Secondary container for the REVIEWS CARDS
.Containerreview{
  width:70%;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 15px;
  margin: 2%;
}
//Exclamation MArk class
.mark{
    width:100%;
    padding-top: 5%;
    padding-left: 50%;
}
//Prole Icon Class
.profileicon{
    width:100%;
    border-radius: 50%;
    padding-right: 80%;
}
//Paragraph was too low on the box i had force it to go up,if its shit tell//

//same reason for paragraph
.stars{
    width: 100%;
    margin-top: -18%;
}

/*desktop*/
@media screen and (min-width: 1024px){
    //MAin COntainer for containerreview is ROW on desktop
    .containerR{
     flex-direction: row;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    //reduced the size of the cards on desktop
    .Containerreview{
        width:20%;
}
#REVIEW3,
#REVIEW2{
  display: block;
}
}