<div class="Containernavbar">
  <div class= "navbar">
    <img src='./assets/logoFindaBuilder.png' alt="logo" id="logo">
  </div>
  <div class="navbarpc">
    <div class="navPC">
      <a href="./index.html" id="Homenav">Home</a>
      <a href="./MarketingIntelligence.html" id="R1nav">Services</a>
    </div>
      <div class="profileimg">
        <div class="profile">
          <img src='./assets/logo-profileicon/profilenav.png' alt="logo" class="profileimage">
        </div>
      </div>
  </div>
  <div class="Menubarcontainer">
    <span style="font-size:30px;cursor:pointer" class="Menubar" onclick="openNav()">&#9776;</span>
  </div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="./index.html" id="Homenav">Home</a>
  <a href="./MarketingIntelligence.html" id="R1nav">Services</a>


</div>