.DescriptionLogo{
    width:100%;
    flex-direction: column;
    display: flex;
}

.logo{
    display: flex;
    flex-direction: row;
}
.profile-icon{
    width: 40%;
    height: 20vh;
    padding-top:5%;
}
.Description{
    padding-top: 5%;
}
.Description h1{
    font-size: 20px;
    font-weight: 600;
    color:var(--main);
    padding-left: 1%;
}
.Description h3{
    font-weight: 300;
     color: rgb(0, 0, 0); //will change soon
     padding-left: 1%;
}
.Description i{
    padding-left: 1%;
    
}
.Boxes{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.Boxes h1{
    border: 1px solid var(--main);
    color: var( --secondaryMain);
    padding: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1%;
    cursor: pointer;
}


.PargraphContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Paragraph {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
}
.Paragraph  p{
    font-size: 12px;
}
@media screen and (min-width: 1024px){
    .DescriptionLogo{
        width: 100%;
    
    
    }
    .Description h1 span{
        font-size: 25px;
        font-weight: 900;
    }
    .profile-icon{
         width: 40%;
         height: 50vh;
         padding-top:0%;
    }

    
}