<div class="DescriptionLogo">
    <div class="logo">
        <img src='./assets/findabuilderblack.png' alt="" class="profile-icon">
        <div class="Description">
            <h1>Mnisi Construction</h1>
            <h3>Gauteng , Pretoria</h3>

            <div class="Boxes">
                <h1>Capentry</h1>
                <h1>Plumbing</h1>
                <h1>Electrician</h1>
            </div>
            <div class="PargraphContainer">
                <div class="Paragraph">
                  <p>Nemo enim ipsam voluptatem, quia voluptas sit,aspernatur aut odit aut fugit,
                       sed quia consequuntur magni dolores eos</p>
        </div>
    </div> 
  </div>
  <div class="ReviewContainer">
    <h1>What Our<br> Customers Says</h1>
    <div class="Review">

     <p><i class='fas fa-user'><span> Ms Harrsion</span></i></p>
     <p>Got the best service ever,they were very patient with me and made me what i wanted</p>
    </div>
    </div>

</div>

