<div class="DescriptionContainer">
    <div class="Description">
        <img src='./assets/logos/steadfastlogo.png' alt="" id="logoDescription">

            <div class="ProfileDetails">
                <h1>Steadfast Construction</h1>
                <p>068 358 7691</p>
                <p>Sithembisogmail.com</p>
                <div class="ButtonsContainer">
                    <div class="Buttons">
                        <input type="button" alt="" value="Roofing" class="btn">
                        <input type="button" alt="" value="Landscaping" class="btn" >
                        <input type="button" alt="" value="Carpentry" class="btn">
                        <input type="button" alt="" value="Carpentry" class="btn" id="btn4">
                        <input type="button" alt="" value="Carpentry" class="btn"  id="btn5">
                        </div>
                </div>
                <div class="CompanyDescription">
                    <div class="Paragraph">
                        <p>Lorem ipsum dolor sit amet, consecconsectetur adipisci elit, consecconsectetur adipisci elit...<span>Read more</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
