.DescriptionLogo{
    width:100%;
    flex-direction: column;
    display: flex;
}

.logo{
    display: flex;
    flex-direction: row;
}
.profile-icon{
    width: 40%;
    height: 20vh;
    padding-top:5%;
}
.Description{
    padding-top: 5%;
}
.Description h1{
    font-size: 20px;
    font-weight: 600;
    color:var(--main)
}
.Description h3{
    font-weight: 300;
     color: rgb(0, 0, 0); //will change soon
     padding-top: 3%;
}
.Boxes{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    flex-wrap:wrap;
}
.Boxes h1{
    border: 1px solid var(--main);
    color: var( --secondaryMain);
    padding: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2%;
    cursor: pointer;
}


.PargraphContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Paragraph {
    display: flex;
    flex-wrap: wrap;
}
.Paragraph  p{
    font-size: 12px;
    padding-left:2%;
}
.NumbersEmailContainer{
    display: none;
}
@media screen and (min-width: 1024px){
    .DescriptionLogo{
        width: 100%;
    
    
    }
    .Description h1 span{
        font-size: 25px;
        font-weight: 900;
    }
    .profile-icon{
         width: 40%;
         height: 50vh;
         padding-top:0%;
    }
    .NumbersEmailContainer{
     width: 80%;
     padding-left: 25%;
     padding-top: 4%;
     display: block;
    }
    .NumbersEmail{
     display: flex;
     flex-direction: column ;
     margin: 2%;
     padding-left: 4%;
    }
    .NumbersEmail h1{
    font-size: 25px;
    color: var(--main);

    }
    .NumbersEmail p{
     width: 80%;
     margin: 1%;
     padding-top: 3%;
    }
    .NumbersEmail span{
        color:var(--textParagraphcolor) ;
    }
    
}