<div class="DescriptionLogo">
    <div class="logo">
        <img src='./assets/findabuilderblack.png' alt="" class="profile-icon">
        <div class="Description">
            <h1><span>Mnisi Construction</span></h1>
            <h3>Gauteng , Pretoria</h3>

            <div class="Boxes">
                <h1>Capentry</h1>
                <h1>Plumbing</h1>
                <h1>Electrician</h1>
                <h1>Electrician</h1>
                <h1>Electrician</h1>
                <h1>Electrician</h1>
                <h1>Electrician</h1>
            </div>
            <div class="PargraphContainer">
                <div class="Paragraph">
                  <p>Nemo enim ipsam voluptatem, quia voluptas sit,aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, Nemo enim ipsam voluptatem, quia voluptas sit,aspernatur 
                  </p>
        </div>
    </div> 
  </div>

<div class="NumbersEmailContainer">
    <div class="NumbersEmail">
        <h1>Contact</h1>
       <p><i class="fa fa-phone-square"><span> : +27 68 357 7691</span></i></p>
        <p><i class="fa fa-envelope"> <span> : SithembisoGmail.com</span></i></p>
    </div>
</div>

</div>

