.Description{
     display: flex;
     flex-direction: row;
     width: 80%;
     margin-top: 5%;
     margin-left: 5%; 
}

#logoDescription{
    width: 40%;
}
.ProfileContainer{
    display: flex;
    flex-direction: row;
    padding-left: 1%;
}
.ProfileDetails h1{
    font-size: 21px;
    color: var(--main);
    font-weight: 900;
}
.ProfileDetails p{
    color: var( --textParagraphcolor);
    padding-top: 1%;
    margin: 1%;
    font-size: 14px;
}
.ButtonsContainer{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}
#btn4{
    display:none;
}
#btn5{
    display:none;
}
.btn{
    border:2px solid var(--textPrimarycolor); 
    background-color: var(--secondaryMain);
    color:var(--textPrimarycolor);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    padding: 6px 9px;
    border-radius: 0%;
    cursor: pointer;

}
.CompanyDescription{
    display: flex;
    flex-direction: row;

}
.Paragraph{
    width: 100%;
}
.Paragraph p{
    color: var(--textParagraphcolor);
    font-size: 12px;
    
}
.Paragraph p span{
    color: var(--textParagraphcolor);
    font-weight: bold;
}
@media screen and (min-width: 1024px){
    .Description{
    width: 90%;
    border-radius:9px;
    padding-left: 5%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    #logoDescription{
    width: 30%;
    }
    .ProfileDetails p{
        padding-top: 1%;
        margin: 1%;
        width:80%;
        font-size: 14px;
    }
    .ProfileDetails h1{
        font-size: 45px;
        color: var(--main);
        font-weight: 900;
    }
    .Buttons{
       flex-direction: row;
       display: flex;
    }
    #btn4{
        display:flex;
    }
    #btn5{
        display:flex;
    }
    
 
}

